.footer {
  background: #001d4c;
  color: #ffffff;
  padding: 80px 20px 50px;
  position: relative;
  overflow: hidden;
}


/* World Map Background */
.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/world-map.png") center/cover no-repeat;
  opacity: 0.08;
  pointer-events: none;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo img {
  width: 60px;
}

.logo-text h2 {
  font-size: 24px;
  font-weight: 600;
}

.logo-text span {
  font-size: 14px;
  letter-spacing: 4px;
  color: #cbd5e1;
}

/* Contact */
.footer-contact {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.circle-icon {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.contact-item p {
  font-size: 16px;
}

/* Bottom Row */
.footer-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-left p {
  margin-bottom: 15px;
}

.footer-links {
  font-size: 15px;
  color: #cbd5e1;
}

/* Social */
.footer-right h4 {
  margin-bottom: 15px;
  
}

.social-icons {
  display: flex;
  gap: 18px;
  
}

.social-icons span {
  cursor: pointer;
  font-size: 18px;
  opacity: 0.9;
  transition: 0.3s;
  
}

.social-icons span:hover {
  opacity: 1;
  color: #3b82f6;
  
}

/* Responsive */
@media (max-width: 992px) {

  .footer{
    margin-top: -85px;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -20px;
  }

  .footer-contact {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom-row {
    flex-direction: column;
    align-items: flex-start;
  }
}